h1{
    color: rgb(48, 245, 245);
    text-align: center;
}
div{
    text-align: right;
    
}
a{
    padding: 5px;
}
body{
    background-color: azure;
}
.enrole{
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT17t-tFaqInLPWCAp_0ISG5DmITR3PBcuw0A&usqp=CAU");
    opacity: 80%;
    background-size: cover;
}
p{
    padding: 5px;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
.social {
    color: rgb(224, 238, 251); 
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .footer-section {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top;
  }